*{
    padding: 0;
    margin: 0;
}

body{
   font-family: "Gabarito", sans-serif;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black ;
    gap: 10px;

}

.navbar__s1__title{
     color: #A435F0;
}

.navbar__s2{
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}
 
.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}

.categories{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid black;
    justify-content: space-around;
    font-weight: 100;
    color: rgb(155, 149, 149);
}

.categories p:hover{
    color: #A435F0;
    cursor: pointer;
}

.sale-image img{
    width: 100%;
}

.recommended{
    padding: 10px;
}

.recommended__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.course-card{
    width: 250px;
}

.course-card img{
    width: 100%;
    height: 50%;
}

.course-card__author{
    color: darkgray;
}
.topics, .popular{
    padding: 10px;
}

.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p{
    border: 1px solid rgb(188, 187, 187);
    padding: 10px;
    flex-basis: 25%;
    flex-grow: 1;
    justify-content: center;
}

.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer{
    padding: 30px;
    background-color: black;
    color: aliceblue;
}

.footer__one{
    display: flex;
    gap: 10px;
}

.footer__one p{
    margin: 20px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}