*{
    padding: 0;
    margin: 0;
}

body{
   font-family: "Gabarito", sans-serif;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black ;
    gap: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title{
     color: #A435F0;
}

.navbar__s2{
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}
 
.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}

/* My learning popup */
.mylearning{
 position: relative;
 cursor: pointer;
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    width: fit-content;
    padding: 20px;
    right: 0;
    top: 40px;
    border:#A435F0 0.5px solid;
    border-radius: 10px;
    display: none;
}
.mylearning:hover .mylearning__popup{
    display: block;
}

.mylearning h2{
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}
.mylearning button{
    background-color: transparent;
    color: #6d26d1;
    border:#6d26d1 1px solid;
    padding: 10px 80px;
    text-wrap: nowrap;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 14px;
}

.mylearning button:hover{
    background-color: #EDE6F9;
}

.categories{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid black;
    justify-content: space-around;
    font-weight: 100;
    color: rgb(155, 149, 149);
    cursor: pointer;
}

.categories p:hover{
    transition: 1s;
    color: #A435F0;
    
}

.sale-image{
    position: relative;
}

.sale-image img{
    width: 100%;
}

.sale-image__offer{
    width: 30%;
    background-color: white;
    padding: 25px;
    position: absolute;
    top: 20px;
    left: 50px;
    animation: zoom 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}



.sale-image__offer h2{
   font-size: 32px;
   font-weight: 100;
}

.sale-image__offer p{
    color: rgb(143, 142, 142);
}

.recommended{
    padding: 10px;
}

.recommended__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.course-card{
    width: 250px;
}

.course-card img{
    width: 100%;
    height: 50%;
}

.course-card__author{
    color: darkgray;
}
.topics, .popular{
    padding: 10px;
}

.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p{
    border: 1px solid rgb(188, 187, 187);
    padding: 10px;
    flex-basis: 25%;
    flex-grow: 1;
    justify-content: center;
}

.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer{
    padding: 30px;
    background-color: black;
    color: aliceblue;
}

.footer__one{
    display: flex;
    gap: 10px;
}

.footer__one p{
    margin: 20px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}